section.lmp-gt-navigation
    .mobile-toggle Danh mục
    ul
        li(data-scroll="1").active
            a(href="javascript:void(0)") Thư ngỏ
        li(data-scroll="2")
            a(href="javascript:void(0)") Giới thiệu LMP
        li(data-scroll="3")
            a(href="javascript:void(0)") Vì sao chọn LMP
        li(data-scroll="4")
            a(href="javascript:void(0)") Đội ngũ LMP
section.gioi-thieu-1.lmp-section
    .container
        h1.lmp-title.center.mb-1 Thư ngỏ
        p.lmp-description Yêu cái đẹp, luôn tìm tòi và hướng tới cái đẹp là những gì Phương luôn ấp ủ. LMP JSC- Công ty Cổ phần hoạt động trong các lĩnh vực bất động sản, thiết kế và trang trí nội ngoại thất ra đời dựa trên chính tâm tư đó 
        .main-wrapper.mt-3.mt-lg-5
            .row
                .col-lg-6.col-xl-7
                    .content-wrapper
                        h3.mb-2 Ý nghĩa của LMP
                        p Không phải ngẫu nhiên mà tôi cùng các cộng sự chọn Logo LMP có cấu trúc hình tháp đứng với chân đế là đường cong tượng trưng cho mặt đất mở rộng cùng với cụm chữ LMP phía dưới tạo thế đứng vững chãi.
                        p Không phải ngẫu nhiên mà tôi cùng các cộng sự chọn Logo LMP có cấu trúc hình tháp đứng với chân đế là đường cong tượng trưng cho mặt đất mở rộng cùng với cụm chữ LMP phía dưới tạo thế đứng vững chãi.
                        p Không phải ngẫu nhiên mà tôi cùng các cộng sự chọn Logo LMP có cấu trúc hình tháp đứng với chân đế là đường cong tượng trưng cho mặt đất mở rộng cùng với cụm chữ LMP phía dưới tạo thế đứng vững chãi.
                .col-lg-6.col-xl-5
                    .image-wrapper
                        img(src="./img/gioi-thieu/1.png", alt="")
.gioi-thieu-2.lmp-section
    .container
        .row
            .col-lg-6.col-xl-7
                .content-wrapper
                    h2.lmp-title.mb-2 Giới thiệu LMP
                    h3.mb-3 Là công ty Cổ phần hoạt động trong các lĩnh vực bất động sản, thiết kế và trang trí nội ngoại thất.
                    p Đối với LMP việc thiết kế một công trình nội thất bao gồm văn phòng, nhà hàng, khách sạn hay nhà ở không đơn giản chỉ là việc liên quan đến phần cấu trúc của công trình cũng như việc bố trí, sắp đặt hợp lý và tiện dụng các trang thiết bị nội thất. Mà quan trọng hơn cả chính là phần không gian, linh hồn của một thiết kế, và bạn chỉ có thể cảm nhận nó khi đứng ngay trong chính không gian mà bạn đang sống và làm việc. 
                    p Đối với LMP việc thiết kế một công trình nội thất bao gồm văn phòng, nhà hàng, khách sạn hay nhà ở không đơn giản chỉ là việc liên quan đến phần cấu trúc của công trình cũng như việc bố trí, sắp đặt hợp lý và tiện dụng các trang thiết bị nội thất. Mà quan trọng hơn cả chính là phần không gian, linh hồn của một thiết kế, và bạn chỉ có thể cảm nhận nó khi đứng ngay trong chính không gian mà bạn đang sống và làm việc. 
            .col-lg-6.col-xl-5
                .image-wrapper
                    img(src="./img/gioi-thieu/2.png", alt="")
                    a(href="#")
                        .play
                            img(src="./img/play.png", alt="")
.gioi-thieu-3.lmp-section
    h2.lmp-title.center Vì sao chọn LMP
    .main-wrapper.mt-2.mt-lg-5
        .row.no-gutters
            .col-lg-4.item
                figure
                    .image
                        img(src="./img/gioi-thieu/3.png", alt="")
                    figcaption
                        .ic
                            img(src="./img/gioi-thieu/ic-1.png", alt="")
                        p Tiết kiệm thời gian
                            br
                            | cho khách hàng và đối tác.
            .col-lg-4.item
                figure
                    .image
                        img(src="./img/gioi-thieu/3.png", alt="")
                    figcaption
                        .ic
                            img(src="./img/gioi-thieu/ic-2.png", alt="")
                        p Tiết kiệm thời gian
                            br
                            | cho khách hàng và đối tác.
            .col-lg-4.item
                figure
                    .image
                        img(src="./img/gioi-thieu/3.png", alt="")
                    figcaption
                        .ic
                            img(src="./img/gioi-thieu/ic-3.png", alt="")
                        p Tiết kiệm thời gian
                            br
                            | cho khách hàng và đối tác.
.gioi-thieu-4
    .container
        h2.lmp-title.center Đội ngũ LMP
        .swiper-container.slider
            .swiper-wrapper
                .swiper-slide
                    .image
                        img(src="./img/product2.png", alt="")
                    .caption
                        p abc
                        span bcd
                .swiper-slide
                    .image
                        img(src="./img/product3.png", alt="")
                    .caption
                        p abc
                        span bcd
                .swiper-slide
                    .image
                        img(src="./img/product4.png", alt="")
                    .caption
                        p abc
                        span bcd
            .swiper-navigation
                .swiper-next
                    em.lnr.lnr-chevron-right
                .swiper-prev
                    em.lnr.lnr-chevron-left