.video-list.mt-3
    .row
        .col-sm-6.col-lg-4.video-item
            figure
                a(href="#").image 
                    img(src="./img/gioi-thieu/2.png", alt="")
                    .play
                        img(src="./img/play.png", alt="")
                figcaption
                    h5
                        a(href="#") Hóa giải điểm xấu phong thủy trong căn hộ chung cư
                    p
                        a(href="#").gradient-text Xem thêm