.banner-section 
	.banner-image 
		img(src="https://lmpdesign.vn/upload/photo/banner-dichvu-5200.jpg", alt="")
	.breadcrumb-section
		.container 
			ol.breadcrumb
				li.breadcrumb-item 
					a(href="#") 
						<em class="fas fa-home"></em>
				li.breadcrumb-item 
					a(href="#") Giới thiệu 