header.lmp-header
    .main-wrapper
        .left-wrapper
        .logo-wrapper
            a(href="#")
                img(src="./img/logo.png", alt="")
        .main-list-wrapper
            ul
                li
                    a(href="#") Trang chủ
                li
                    a(href="#") Về CHÚNG TÔI
                li
                    a(href="#") DỊCH VỤ
                    ul.sub-menu
                        li.menu-item
                            a(href="#") SẢN PHẨM TRANG TRÍ
                        li.menu-item
                            a(href="#") SẢN PHẨM TRANG TRÍ
                        li.menu-item
                            a(href="#") SẢN PHẨM TRANG TRÍ
                li
                    a(href="#") SẢN PHẨM TRANG TRÍ
                li
                    a(href="#") DỰ ÁN THỰC HIỆN
                li
                    a(href="#") CẨM NANG THIẾT KẾ
                li
                    a(href="#") TUYỂN DỤNG
                li
                    a(href="#") LIÊN HỆ
        .right-wrapper
            .searchicon
                em.mdi.mdi-magnify
           
            //- .language-wrapper
            //-     a(href="#")
            //-         em.fas.fa-globe
            //-         | EN
            .toggle-mobile-wrapper
                span
    .search-wrapper
        .close-button
            em.lnr.lnr-cross
        .container
            .searchbox
                input(type="text" placeholder='Search ...')
                button(type='submit') Search
    .backdrop-wrapper
    .mobile-wrapper
        .close-mobile-wrapper
            em.lnr.lnr-cross
        .mobile-logo-wrapper
            a(href="#")
                img(src="./img/mainlogo.svg", alt="")