footer.lmp-footer
    .top-wrapper.lmp-section
        .container
            .row
                .col-lg-4
                    .content-wrapper
                        h2.lmp-title Liên hệ
                        h3 Anh nông dân BĐS
                        p
                            a(href="#") Zalo: 0963503281
                            br
                            a(href="#") Sđt: 0964.790.796
                            br
                            a(href="#") Youtube: Anh nông dân BĐS
    .bottom-wrapper
        .main-wrapper
            .left-wrapper
                .copyright-wrapper
                    <p>COPYRIGHT © 2021 Anh nông dân BĐS. </p>
            .right-wrapper
                .social-wrapper
                    ul
                        li
                            a(href="#")
                                em.fab.fa-facebook-f
                        li
                            a(href="#")
                                em.fab.fa-twitter
                        li
                            a(href="#")
                                em.fab.fa-youtube
                        li
                            a(href="#")
                                em.fab.fa-instagram
