section.tuyen-dung-ct.lmp-section
    .container
        .row
            .col-lg-9
                .main-wrapper
                    .heading-wrapper
                        h1.mb-2 Kiến trúc sư thiết kế nội thất
                    .content-wrapper
                        table
                            tr
                                td Nơi làm việc
                                td TPHCM
                            tr 
                                td Ngành nghề
                                td Kiến trúc sư thiết kế nội thất
                            tr
                                td Nơi làm việc
                                td TPHCM
                            tr 
                                td Ngành nghề
                                td Kiến trúc sư thiết kế nội thất
                            tr
                                td Nơi làm việc
                                td TPHCM
                            tr 
                                td Ngành nghề
                                td Kiến trúc sư thiết kế nội thất
                        h2 MÔ TẢ CÔNG VIỆC
                        ul
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                        h2 MÔ TẢ CÔNG VIỆC
                        ul
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                            li Thiết kế kiến trúc và triển khai bản vẽ các công trình công nghiệp, trụ sở, hành chính, các phương tiện công cộng, phức hợp, khu dân cư… thuộc dự án của công ty.
                    .link
                        a(href="javascript:void(0)").ungtuyen.lmp-button.border
                            span Ứng tuyển trực tuyến
                        a(href="javascript:void(0)").mauxinviec.lmp-button.border
                            span Tải mẫu đơn xin việc
            .col-lg-3
                .other-wrapper
                    .heading
                        h3 Tuyển dụng khác
                    .list
                        .item
                            a(href="#")
                                p Tư vấn viên nội thất
                                time 30.09.2019
                        .item
                            a(href="#")
                                p Tư vấn viên nội thất
                                time 30.09.2019
                        .item
                            a(href="#")
                                p Tư vấn viên nội thất
                                time 30.09.2019
                        .item
                            a(href="#")
                                p Tư vấn viên nội thất
                                time 30.09.2019