section.cam-nang-ct.lmp-section
    .container
        .row(style='justify-content: center')
            .col-lg-10
                .heading-wrapper
                    h1.mb-1.mb-lg-2 Bố trí nội thất phòng khách căn hộ đúng phong thủy đón may mắn, thịnh vượng
                    .social-share
                    p.time
                        time
                            em.lnr.lnr-clock
                            | 11:00
                        date 30.09.2019
                .content-wrapper
section.san-pham-ct-2.lmp-section
    .container
        h2.lmp-title.center.mb-2 Cẩm nang thiết kế khác
        .product-related-slider
            .swiper-container
                .swiper-wrapper
                    -for(i=0;i<5;i++)
                        .swiper-slide
                            .hankbook-item
                                figure
                                    a(href="#")
                                        .image
                                            img(src="./img/cam-nang/1.png", alt="")
                                    figcaption
                                        h5
                                            a(href="#") Hóa giải điểm xấu phong thủy trong căn hộ chung cư
                                        p
                                            a(href="#").gradient-text Xem thêm
            .swiper-navigation
                .swiper-prev
                    em.mdi.mdi-arrow-left
                .swiper-next
                    em.mdi.mdi-arrow-right