section.dich-vu-1.lmp-section
    h1.lmp-title.center Dịch vụ
    .main-wrapper.mt-2.mt-lg-5
        .row.no-gutters
            .col-lg.dich-vu-item
                figure
                    .image
                        img(src="./img/dich-vu/1.png", alt="")
                    figcaption
                        h3.mb-2 Tư vấn thiết kế
                        .hidden-wrap
                            p Với đội ngũ kiến trúc sư, mỹ thuật, kỹ sư, hoạ viên có kinh nghiệm. LMP giúp khách hàng trong việc hướng đến một không gian sống và làm việc hoàn hảo, các sản phẩm nội thất mới đẹp chất lượng cao.
                            a(href="#").lmp-button.mt-2 Xem thêm
            .col-lg.dich-vu-item
                figure
                    .image
                        img(src="./img/dich-vu/1.png", alt="")
                    figcaption
                        h3.mb-2 Tư vấn thiết kế
                        .hidden-wrap
                            p Với đội ngũ kiến trúc sư, mỹ thuật, kỹ sư, hoạ viên có kinh nghiệm. LMP giúp khách hàng trong việc hướng đến một không gian sống và làm việc hoàn hảo, các sản phẩm nội thất mới đẹp chất lượng cao.
                            a(href="#").lmp-button.mt-2 Xem thêm
            .col-lg.dich-vu-item
                figure
                    .image
                        img(src="./img/dich-vu/1.png", alt="")
                    figcaption
                        h3.mb-2 Tư vấn thiết kế
                        .hidden-wrap
                            p Với đội ngũ kiến trúc sư, mỹ thuật, kỹ sư, hoạ viên có kinh nghiệm. LMP giúp khách hàng trong việc hướng đến một không gian sống và làm việc hoàn hảo, các sản phẩm nội thất mới đẹp chất lượng cao.
                            a(href="#").lmp-button.mt-2 Xem thêm