section.cam-nang-1.lmp-section
    .container
        h1.lmp-title.center.mb-2 Cẩm nang thiết kế
        .lmp-navigation 
            .mobile-toggle Danh mục
            ul
                li
                    a(href="#") Thư ngỏ
                li
                    a(href="#") Giới thiệu LMP
                li
                    a(href="#") Vì sao chọn LMP
        .hankbook-list.mt-3
            .row
                -for(i=0;i<6;i++)
                    .col-sm-6.col-lg-4.hankbook-item
                        figure
                            a(href="#")
                                .image
                                    img(src="./img/cam-nang/1.png", alt="")
                            figcaption
                                h5
                                    a(href="#") Hóa giải điểm xấu phong thủy trong căn hộ chung cư
                                p
                                    a(href="#").gradient-text Xem thêm