section.du-an-1.lmp-section
    .container
        h1.lmp-title.center.mb-2 Dự án thực hiện
        .lmp-navigation 
            .mobile-toggle Danh mục
            ul
                li
                    a(href="#") Thư ngỏ
                li
                    a(href="#") Giới thiệu LMP
                li
                    a(href="#") Vì sao chọn LMP
    .project-list.mt-3
        .row.no-gutters
            -for(i=0;i<10;i++)
                .col-sm-6.project-item
                    a(href="#")
                        figure
                            .image
                                img(src="./img/news1.jpg", alt="")
                            .title Village Audrey Quận 2
                            figcaption
                                h3 Village Audrey Quận 2
                                em.mdi.mdi-eye

                        