section.lien-he.lmp-section
    .container
        h1.lmp-title.center.mb-2 Liên hệ
        .main-wrapper
            .row
                .col-lg-4
                    .content-wrapper
                        h3 Anh nông dân BĐS
                        p
                            a(href="#") Zalo: 0963503281
                            br
                            a(href="#") Sđt: 0964.790.796
                            br
                            a(href="#") Youtube: Anh nông dân BĐS
                .col-lg-8
                    .form-
        .map-wrapper.mt-3.mt-lg-5
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.2538970561923!2d106.6877494153343!3d10.791855861858462!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528cd0e097947%3A0x34a3bd190fa2c620!2zMTc0IFRy4bqnbiBRdWFuZyBLaOG6o2ksIFTDom4gxJDhu4tuaCwgUXXhuq1uIDEsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2s!4v1574743472144!5m2!1sen!2s" width="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>