section.tuyen-dung-1.lmp-section
    .container
        h1.lmp-title.center.mb-2 Tuyển dụng
        .top-wrapper
            .row
                .col-lg-6
                    .image-wrapper
                        img(src="./img/tuyen-dung/1.png", alt="")
                .col-lg-6
                    .content-wrapper
                        h3.mb-1 Chính sách nhân sự
                        p Con người là tài sản quý giá nhất của Công Ty. Vì thế việc đầu tư về chính sách nhân sự luôn được LMP quan tâm hàng đầu.
                        p Khi làm việc tại LMP, bạn sẽ nhận được mức lương tương xứng với năng lực và cạnh tranh so với thị trường. Ngoài ra, để khích lệ động viên tích cực nhân viên làm việc, tiền thưởng là yếu tố thúc đẩy nhằm tối đa hóa khả năng hoàn thành mục tiêu công việc. Khi đạt được kết quả theo mục tiêu Công Ty mong đợi, bạn sẽ được hưởng các mức thưởng hấp dẫn phù hợp với năng lực từng cá nhân. Nếu bạn là thành viên xuất sắc, Công Ty sẽ tạo điều kiện để bạn phát triển nghề nghiệp.
        .bottom-wrapper(setBackground='./img/tuyen-dung/bg-1.png')
            p Bên cạnh đó, Công Ty luôn tạo ra môi trường làm việc thân thiện, chia sẻ và teamwork, với bầu không khí làm việc thoải mái, với nhiều cơ hội để bạn phát huy hết khả năng cá nhân và phát triển cùng công ty.
section.tuyen-dung-2.lmp-section
    .container
        h2.lmp-title.center.mb-2 Vị trí tuyển dụng
        .table
            table
                thead
                    tr
                        th STT
                        th Vị trí tuyển dụng
                        th Số lượng
                        th Khu vực
                        th Ngày hết hạn
                tbody
                    tr
                        td 01
                        td 
                            a(href="#") Thiết kế đồ họa
                        td 03
                        td TPHCM
                        td 24/10/1999
                    tr
                        td 01
                        td 
                            a(href="#") Thiết kế đồ họa
                        td 03
                        td TPHCM
                        td 24/10/1999
                    tr
                        td 01
                        td 
                            a(href="#") Thiết kế đồ họa
                        td 03
                        td TPHCM
                        td 24/10/1999
                    tr
                        td 01
                        td 
                            a(href="#") Thiết kế đồ họa
                        td 03
                        td TPHCM
                        td 24/10/1999
                    tr
                        td 01
                        td 
                            a(href="#") Thiết kế đồ họa
                        td 03
                        td TPHCM
                        td 24/10/1999