.dich-vu-ct-1.lmp-section
    h1.lmp-title.mb-3.center Thiết kế nội thất
    .image-wrapper.custom-slider
        .top-image
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .image
                            img(src="./img/dich-vu/2.png", alt="")
                    .swiper-slide
                        .image
                            img(src="https://images.unsplash.com/photo-1574477942555-afd91f0eeda4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80", alt="")
                    .swiper-slide
                        .image
                            img(src="./img/dich-vu/2.png", alt="")
        .thumb-image
            .swiper-prev
                em.lnr.lnr-chevron-left
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        .image
                            img(src="./img/dich-vu/2.png", alt="")
                    .swiper-slide
                        .image
                            img(src="https://images.unsplash.com/photo-1574477942555-afd91f0eeda4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80", alt="")
                    .swiper-slide
                        .image
                            img(src="./img/dich-vu/2.png", alt="")
            .swiper-next
                em.lnr.lnr-chevron-right
    .content-wrapper
        .container
            .row(style='justify-content: center')
                .col-lg-10
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
.dich-vu-ct-2.lmp-section
    h2.lmp-title.center Dịch vụ khác
    .main-wrapper.mt-2.mt-lg-5
        .row.no-gutters
            .col-lg.dich-vu-item
                figure
                    .image
                        img(src="./img/dich-vu/1.png", alt="")
                    figcaption
                        h3.mb-2 Tư vấn thiết kế
                        .hidden-wrap
                            p Với đội ngũ kiến trúc sư, mỹ thuật, kỹ sư, hoạ viên có kinh nghiệm. LMP giúp khách hàng trong việc hướng đến một không gian sống và làm việc hoàn hảo, các sản phẩm nội thất mới đẹp chất lượng cao.
                            a(href="#").lmp-button.mt-2 Xem thêm
            .col-lg.dich-vu-item
                figure
                    .image
                        img(src="./img/dich-vu/1.png", alt="")
                    figcaption
                        h3.mb-2 Tư vấn thiết kế
                        .hidden-wrap
                            p Với đội ngũ kiến trúc sư, mỹ thuật, kỹ sư, hoạ viên có kinh nghiệm. LMP giúp khách hàng trong việc hướng đến một không gian sống và làm việc hoàn hảo, các sản phẩm nội thất mới đẹp chất lượng cao.
                            a(href="#").lmp-button.mt-2 Xem thêm