section.san-pham-1.lmp-section
    .container
        h1.lmp-title.center Sản phẩm trang trí
        .main-wrapper.mt-3.mt-lg-5
            .row
                .col-lg-8
                    .row
                        .col-lg-6.part-item.item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/san-pham/1.png", alt="")
                                    .title
                                        p Đèn trần
                                    figcaption
                                        p Đèn trần
                                        em.mdi.mdi-eye
                        .col-lg-6.part-item.item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/san-pham/1.png", alt="")
                                    .title
                                        p Đèn trần
                                    figcaption
                                        p Đèn trần
                                        em.mdi.mdi-eye
                        .col-12.part-item.item
                            a(href="#")
                                figure
                                    .image
                                        img(src="./img/san-pham/2.png", alt="")
                                    .title
                                        p Đèn trần
                                    figcaption
                                        p Đèn trần
                                        em.mdi.mdi-eye
                .col-lg-4.big-item.item
                    a(href="#")
                        figure
                            .image
                                img(src="./img/san-pham/3.png", alt="")
                            .title
                                p Đèn trần
                            figcaption
                                p Đèn trần
                                em.mdi.mdi-eye